@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato&family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #2c2c2c;
  --bgSec: #4c4c4c;
  --text: white;
  --textSec: rgb(225, 225, 225);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--text);
}
